<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% end %}
    </title>
    {% block style %}{% end %}
</head>
<body>
{#<h1 style="font-weight: bold;font-size: 17px;">#}
{#    {% if user  %}#}
{#        欢迎{{ user }}#}
{#    {% else %}#}
{#        <a href={{ login_url }}>请登录</a>#}
{#        <a href="#">请登录</a>#}
{#    {% end %}#}
{#</h1>#}
{% block body %}
{% end %}


{% block script %}{% end %}
</body>
</html>