{% extends "user_base.html" %}
{% block title %}Register{% end %}
{% block form_content %}
    <h2 class="sub-agileits-w3layouts">Sign Up</h2>
    <form action="" method="post">
        {% module xsrf_form_html() %}
        <input type="text" name="username" placeholder="Username" required="" />
        <input type="password" name="pwd" placeholder="Password" required="" />
        <input type="password" name="repeat_pwd" placeholder="Confirm Password" required="" />
        <div class="submit-w3l">
            <input type="submit" value="Sign up">
        </div>
	</form>
{% end %}
{% block content_title %}
    Sign up
{% end %}
